In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [4]:
datapath = 'https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/New_York_offenses/NEW_YORK-Offenses_Known_to_Law_Enforcement_by_City_2013%20-%2013tbl8ny.csv'

df = pd.read_csv(datapath)
df.columns = ['city', 'population', 'violent crime', 'murder', 'rape (new definition)', 'rape (old definition)', 'robbery',
              'aggrevated assault', 'property crime', 'burglary', 'larceny-theft', 'motor vehicle theft', 'arson']
df = df.drop(df.index[:4])
df['robbery'] = df['robbery'].replace('[^0-9]+', '', regex=True)
df['population'] = df['population'].replace('[^0-9]+', '', regex=True)
df['property crime'] = df['property crime'].replace('[^0-9]+', '', regex=True)

In [5]:
df['population_sq'] = pd.to_numeric(df['population']) * pd.to_numeric(df['population'])
df['murder'] = np.where(pd.to_numeric(df['murder']) > 0, 1, 0)
df['robbery'] = np.where(pd.to_numeric(df['robbery']) > 0, 1, 0)

df.head()

,city,population,violent crime,murder,rape (new definition),rape (old definition),robbery,aggrevated assault,property crime,burglary,larceny-theft,motor vehicle theft,arson,population_sq
4,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0,3.463321e+06
5,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0,6.640929e+06
6,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0,8.099716e+06
7,Albany,97956,791,1,NaN,30,1,526,4090,705,"3,243",142,NaN,9.595378e+09
8,Albion Village,6388,23,0,NaN,3,1,16,223,53,165,5,NaN,4.080654e+07